<div>
    <accordion>
        <accordion-group>
            <accordion-heading>
                <span> {{'please_select'| translate}} <i class="pull-right" ng-class="{'fa fa-chevron-up vertical-center': searchOuTree.open, 'fa fa-chevron-down vertical-center': !searchOuTree.open}"></i></span>
            </accordion-heading>
            <div class="preview clearfix">
                <div class="previewData clearfix" ng-show="previewData.name">
                    <img src={{previewData.src}} style="max-width:100%;"></img>
                    <div class="previewDetails">
                        <div class="detail"><b>Name : </b>{{previewData.name}} <b>Size : </b> {{previewData.size}}</div>
                    </div>
                    <div class="previewControls">
                        <span ng-click="upload(previewData)" class="circle upload">
                            <i class="fa fa-check"></i>
                        </span>
                        <span ng-click="remove()" class="circle remove">
                            <i class="fa fa-close"></i>
                        </span>
                    </div>
                </div>	
            </div>
            <div class="input-group">
                <input ng-model="previewData.name" class="form-control" placeholder="{{'please_select'| translate}}" disabled="disabled">
                <div class="input-group-btn">
                    <div class="imgUpload btn btn-default" style="margin-top: 5px;">
                        <span><i class="fa fa-upload"></i> {{'upload_image' | translate}}</span>
                        <input class="fileUpload imgInput" type="file"/>
                    </div>
                </div>
                <div class="input-group-btn">
                    <div ng-click="remove()" class="btn btn-danger leftFlat" style="margin-top: 5px;">
                        <span><i class="fa fa-trash-o"></i></span>
                    </div>
                </div>
            </div>                
        </accordion-group> 
    </accordion>
</div>

<style>
.imgUpload {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.imgUpload .imgInput {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 33px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.leftFlat {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;  
}
</style>