<div>
    <accordion>
        <accordion-group is-open="d2DisplayOpen">
            <accordion-heading>
                <span ng-if="!previewData.name"> {{'please_select_an_image'| translate}} <i class="pull-right" ng-class="{'fa fa-chevron-up vertical-center': d2DisplayOpen, 'fa fa-chevron-down vertical-center': !d2DisplayOpen}"></i></span>
                <span ng-if="previewData.name"> {{previewData.name}} <i class="pull-right" ng-class="{'fa fa-chevron-up vertical-center': !d2DisplayOpen, 'fa fa-chevron-down vertical-center': d2DisplayOpen}"></i></span>
            </accordion-heading>
            <div class="preview clearfix">
                <div class="previewData clearfix" ng-show="previewData.src">
                    <img src={{previewData.src}} style="max-width:100%;"></img>
                </div>	
            </div>
            <div class="input-group" ng-show="d2CanEdit">
                <input ng-model="previewData.name" class="form-control" placeholder="{{'please_select'| translate}}" disabled="disabled">
                <div class="input-group-btn">
                    <div class="imgUpload btn btn-default">
                        <span><i class="fa fa-upload"></i> {{'upload_image' | translate}}</span>
                        <input class="fileUpload imgInput" type="file"/>
                    </div>
                </div>
                <div class="input-group-btn">
                    <div ng-click="remove()" class="btn btn-danger leftFlat" style="margin-top: 5px;">
                        <span><i class="fa fa-trash-o"></i></span>
                    </div>
                </div>
            </div>
            <!--Add translatable text -->
            <h3 ng-if="!d2CanEdit && !previewData.name" style="text-align: center;">No image found</h3>               
        </accordion-group> 
    </accordion>
</div>

<style>
.imgUpload {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 5px;
    max-width: 85px;
}
.imgUpload .imgInput {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 33px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.leftFlat {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;  
}

.rightFlat {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;  
}
</style>