    <ui-select ng-model="d2Model[d2ModelId]"
               theme="select2"
               ng-required="d2Required"
               ng-disabled="d2Disabled"
               name="foo"
               on-select="saveOption()"
               style="width: 100%;">
        <ui-select-match allow-clear="true" ng-class="d2UseNotification ? getInputNotifcationClass(d2ModelId) : '';"  class="form-control-ui-select"  placeholder="{{'select_or_search' | translate}}">{{$select.selected.displayName  || $select.selected}}</ui-select-match>
        <ui-select-choices repeat="option.displayName as option in options" ui-disable-choice="option.id===loadMoreId" refresh="search($select.search)">
            <option ng-if="option.id!==loadMoreId" ng-bind-html="option.displayName | highlight: $select.search"></option>
            <div ng-if="option.id===loadMoreId">
                <button class="btn btn-xs btn-default" 
                        style="width: 100%; margin-top: 5px;" 
                        ng-click="showMore($select, $event);"
                        ng-disabled="loading">{{'show_more' | translate}}</button>                              
              </div>
        </ui-select-choices>
    </ui-select>